@model CarritoCompras.Models.ViewModels.CompraViewModel

@{
    ViewData["Title"] = "Carrito";
}
<h2>Carrito de compras</h2>
@if(Model.Carrito.Items.Count==0)
{
    <div class="alert alert-info">
        <p>No han sido agregados productos al carrito.</p>
        <a href="/Home" class="btn btn-primary">Volver</a>
    </div>
}
else
{
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Subtotal</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                @foreach(var item in Model.Carrito.Items)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>
                        @if (item.Cantidad < 1)
                        {
                            <form>
                                <div class="alert alert-danger" role="alert">
                                    <i class="fas fa-exclamation-circle">No Stock</i>
                                </div>
                                <input type="hidden" name="id" value="@item.ProductoId" />
                            </form>
                        }
                        else
                        {
                            <form asp-action="ActualizarCantidad" asp-controller="Carrito" method="post">
                                <div class="input-group input-group-sm">
                                    <input type="number" value="@item.Cantidad" name="cantidad" class="form-control" min="1" max="@item.Producto.Stock" />
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary"><i class="fas fa-sync-alt"></i></button>
                                    </div>
                                </div>
                                <input type="hidden" name="id" value="@item.ProductoId" />
                            </form>
                            }
                        </td>
                        
                        <td>@item.Precio</td>
                        <td>@item.Subtotal.ToString("C")</td>
                        <td>
                            <form asp-action="EliminarProducto" asp-controller="Carrito" method="post">
                                <button type="submit" class="btn btn-primary"><i class="fas fa-trash-alt"></i></button>
                                <input type="hidden" name="id" value="@item.ProductoId" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td class="font-weight=bold">Total:</td>
                    <td class="font-weight=bold">@Model.Carrito.Total.ToString("C")</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="text-right">
        <form asp-controller="Carrito" asp-action="VaciarCarrito" method="post">
            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Vaciar Carrito</button>
        </form>
    </div>

    <div class="text-left">
        @if(User.Identity != null && User.Identity.IsAuthenticated)
        {
            <form asp-controller="Carrito" asp-action="Compra" method="post">
                <input type="hidden" name="montoTotal" value="@Model.Carrito.Total"/>
                <button type="submit" class="btn btn-primary btn-lg"><i class="fa-solid fa-cart-shopping"></i>Comprar</button>
            </form>
        }
        else
        {
            <a class="btn btn-primary" asp-action="Login" asp-controller="Account">Debes Iniciar Sesion para comprar</a>
        }
    </div>
}
